<%= form_for(@comment) do |f| %>


 <ul style="list-style-type:none">
  <li>
          



	<span class="label label-success">	<%= f.label :comments %></span>
        <%= f.text_area :note ,size: "30x05"%><br>
       
 <%= f.hidden_field :article_id, :value => @article.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
        </li>
  
      </ul>
   
  

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>