<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--link href="assets/css/bootstrap-responsive.css" rel="stylesheet"-->
<style type="text/css">
 .container-fluid{
  padding-top: 2%;
  padding-left: 2%;
  height: auto;
 }
 .container{
width: 100%;
height: auto;
}
.container-fluid .carousel-inner{
  height: auto;
}
.carousel-inner {
height:50%;
}
 .carousel {
  width:auto;
position: inherit;
}
 p a{
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #006dcc;
background-image: -moz-linear-gradient(top,#08c,#04c);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
background-image: -webkit-linear-gradient(top,#08c,#04c);
background-image: -o-linear-gradient(top,#08c,#04c);
background-image: linear-gradient(to bottom,#08c,#04c);
background-repeat: repeat-x;
border-color: #04c #04c #002a80;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
padding: 5px;
font-size: 17px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
 }
 .span4{
  background-image: url('http://brandthunder.com/wp/wp-content/uploads/2011/11/Mac_Desktop_Background.jpg')
 }
 .span8{
  background-image: url('http://brandthunder.com/wp/wp-content/uploads/2011/11/Mac_Desktop_Background.jpg')
 }
 .content{
  padding: 2%;
  display: inline-block;
 }
 .post{
  color: white;
 }
.pagination{
  text-align: right;
 margin: 0px;
background-color: white;
float: right;
 }
 .navbar .container{
  display: inline-flex;
 }
 .pagination a{
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
 }
.span4{
height: auto;
}
.hero-unit{
    background-image: url('http://brandthunder.com/wp/wp-content/uploads/2011/11/Mac_Desktop_Background.jpg')
}
.carousel-control1 {
width: 100px;
font-size: 20px;
position: relative;
top: 40%;
left: 15px;
height: 40px;
margin-top: -20px;
font-weight: 100;
line-height: 30px;
color: #ffffff;
text-align: center;
background: #222222;
border: 3px solid #ffffff;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
opacity: 0.5;
}
</style>
<script type="text/javascript">
    $('#tooltip').tooltip();
    $(".alert").alert();
    $('.typeahead').typeahead();
    $('#pop').popover();
     $('#myCarousel1').carousel({
  interval: false
})
</script>
<% if user_signed_in? %>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="http://imagesci.com/img/2013/12/abstract-light-2681-hd-wallpapers.jpg">
    </div>
    <div class="item">
      <img src="http://wallpapergrab.com/wp-content/uploads/2013/12/abstract-light-wallpapers-for-pc.jpg">
    </div>
    <div class="item">
      <img src="http://www.desktopwallpaperhd.com/wallpapers/28/29062.jpg">
    </div>
    <div class="item">
      <img src="http://2013wallpapers.com/wp-content/uploads/2013/01/Array-of-Light-Wallpaper.jpg">
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- <div id="myCarousel1" class="carousel slide">
      <div class="carousel-inner"> -->
        <div class="span8">
        <% @article.each do |a1| %>
      <!--   <div class="<%# if @article.last.id==a1.id %> active <%# end %> item"> -->
          
            <div class="content">

              <h3><%= a1.title %></h3>
              <%= a1.body %><br>
              <br>
              <% if user_signed_in? %>
             
              <p>
                <%= link_to 'comments:' ,article_path(a1) %><%= a1.comments.count %><br>
                <br>
                <%= link_to "show", article_path(a1) %>
                <% if a1.user current_user %>
                <%= link_to 'edit article' , edit_article_path(:id=> a1.id) %> 
                <%= link_to 'destroy', a1, method: :delete, data: { confirm: 'are you sure?' } %>
                <% end %>
                <% end %>
              </p>
            </div>
          
 
<%end%>

</div>
 <%= will_paginate @article%>
 <!--  <br>
  <br>
            <button class="carousel-control1 left" href="#myCarousel1" data-slide="prev">Older</button>
            <button class="carousel-control1 right" href="#myCarousel1" data-slide="next">Newer</button>
            </div> -->
           
          
          
<div class="span4">
          <div class="hero-unit">
            <a href="#myModal1" role="button" class="btn" data-toggle="modal"><%= image_tag("http://1.bp.blogspot.com/-1zybWJ1_t2o/ULW81j0D2GI/AAAAAAAAADc/Xg6Qa1XnrYs/s1600/Join+FREE+Icon.png", :size=> "100x100")%> </a><br>
            <!-- Modal -->
            <div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Follow Its time to think again!!!</h3>
              </div>
              <div class="modal-body" align="center">
                <%= link_to image_tag("http://patrickpowers.net/wp-content/uploads/2010/10/twitter_like_button.png", :alt=> 'Twitter', :size =>"100x100"),"http://twitter.com" %> 
                <%= link_to image_tag("http://cdn1.sbnation.com/entry_photo_images/9271877/new_facebook_like_640_large_verge_medium_landscape.png", :size=>"100x100"), "http://facebook.com" %> 
                <%= link_to image_tag("http://rocketdock.com/images/screenshots/yahoo-mesenger-red.png", :size=>"100x100"), "https://login.yahoo.com/" %> 
                <%= link_to image_tag("http://www.wsimarketingplus.com/wp-content/uploads/2012/06/Google+steel.png", :size=>"100x100"), "https://plus.google.com/" %>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
            <span class="label label-success">Members: <%= @m.count %></span>
            <!-- <span class="label label-info">Members <%= @m.count %></span> -->
            <br>
            <!-- <h6> Members <%= @m.count %></h6> -->
            <% @m.each do |a| %>
            <a role="button" class="btn" data-toggle="modal" data-target="#mymodal<%= r=a.id %>"> 
            <%= image_tag(a.photo(:small), :size=>"30x30") %> </a>
            <!-- Modal -->
            <div id="mymodal<%= a.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Blogger</h3>
                <%= image_tag(a.photo(:small), :size=>"30x30") %> <%= link_to a.name,profile_path(:id=>a.id) %><br>
                <h4 id="myModalLabel">Posts</h4>
                <% a.articles.each do|d| %>
                <!--   profile_path(:id=>d.user.id) -->
                <%= link_to d.title, article_path(d) %><br>
                <%end%>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
            <% end %>
            <br>
            <br>

           <!--  <span class="label label-success">Quotation of the day </span>
            <div class="hero-unit">
              <img src="http://interactive.wxxi.org/files/images/highlights/shakespeare_etching.jpg" width="200px" height="400px">
              <!- <div class="abc" align="right">In time we hate that which we often fear. <%#= link_to 'William Shakespeare',"http://encyclopedia2.tfd.com/Shakespeare,+William" %> (1564-1616)  -->
           <!--  </div> --> 
          </div>
        </div>



          </div>
        </div>
        

   
     </div>
</div>
        </div>
        </div>
